html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}
*, p, span, h1, h2, h3{
    transition: 0.5s;
    color: var(--color-texts);
    font-family: 'Courier New', Courier, monospace;
}
.app{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.page1{
    text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* text-shadow; */
}
.page1 .background-imgs{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 35vh;
}
.page1 .indexPicture{
    width: 80vw;
    border: 2px solid #666 ;
    cursor: pointer;
}
.page1 .link-button{
    width: 150px;
    height: 50px;
    background-color: var(--color-button);
    border: none;
    border-radius: 10px;
    color: var(--color-button-text);
    font-size: 15px;
}
input[type="button"]:hover,
input[type="button"]:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}


.page1 .down-button{
    width: 150px;
    height: 50px;
    background-color: var(--color-button);
    border: none;
    border-radius: 10px;
    color: var(--color-button-text);
    font-size: 20px;

    transform: translateY(60vh);
}

/* scrollbar */

.scrollbar{
    position: fixed;
    right: 20px;
    top: 50%;
    list-style: none;
    z-index: 9999;
    -webkit-transform: translateY(-66px);
    -ms-transform: translateY(-66px);
    transform: translateY(-66px);
    animation: scrollbar_exitAnimationidentifier 0.5s;
}
.scrollbar .item {
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    
    border-radius: 5px;
    background: -webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);
    background: linear-gradient(180deg,rgb(209, 209, 209) 0%,rgb(209, 209, 209) 100%);
    opacity: 15;
    -webkit-transition: all .35s;
    transition: all .35s;
    cursor: pointer
}
.scrollbar .item-space{
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;

}

@keyframes scrollbar_exitAnimationidentifier {
    0%{
        right: -10px;
    }
    100%{
        right: 20px;
    }
}


/* Page 2 */
.page2{
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(5,13,35);
}
.page2 .background{
    width: 100vw;

}
.page2 .pmain{
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    /* background-color: #009dff; */
    /* z-index: 999; */
    overflow: hidden;
}
.page2 .pmain .winbox{
    width: 80vw;
    height: 70vh;
    display: flex;
    margin: auto;
    border-radius: 10px;
    /* margin-top: -80px; */
    /* background-color: #009dff; */
    border: 2px solid #666;
}
.page2 .pmain .winbox .iframe-box{
    width: 80vw;
}

/* Theme */
:root{
    --color-background: #fff;
    --color-texts: black;
    --page2-color-text: #fff;
    --color-button: #009dff;
    --color-button-text: #fff;
}
html[drak-theme]{
    --color-background: #444444;
    --color-texts: #fff;
    --page2-color-text: ;
    --color-button: rgb(122, 122, 122);
    --color-button-text: #fff;
}