:root{
    --background: #ffffff;
    --color-text: #444444;
    --header-color-background: #f1f1f1;
    --header-color-text: #212121;

    --button-color-text: #efefef;
    --button-color-b1: #0084ff;
    --button-color-b2: #8ba1ff;
}
html[draktheme]{
    --background: #444444;
    --color-text: #ffff;
}